.dateselector {
  border: 1px solid gray;
  text-align: right;
  &::after{
    content: '📅';
  }
}

table.calendar {
  /* background-color: aqua; */
  border-collapse: collapse;

  & td {
    border: 1px solid lavenderblush;
    text-align: center;
    cursor: pointer;
  }

  & .selected {
    background-color: skyblue;
    border-radius: 50%;
  }
}

.popup {
  display: flex;
  flex-direction: column;
  position: absolute;
  box-shadow: 0 0 20px 3px gray;
  background-color: Canvas;
  .close {
    align-self: flex-end;
  }
  &:has(.calendar)>:not(.close) {
    margin: 0.1em 1em;
  }
}